<o-form-layout-manager attr="EmployeeHealthInsurance" mode="tab" title="EMPLOYEEHEALTHINSURANCE">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="EmployeeHealthInsuranceTable" 
            service="EmployeeHealthInsurance" 
            entity="EmployeeHealthInsurance" 
            title="EMPLOYEEHEALTHINSURANCE"
            keys="id"
            columns="id;employee_id;insurance_id" 
            header-actions="R;D"
            visible-columns="id;employee_id;insurance_id"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="employee_id" title="employee_id">
    <o-table-cell-renderer-service attr="employee_id" 
        service="Employee" entity="EmployeeType" columns="id;name"
        parent-keys="id:employee_id"
        value-column="name" keys="employee_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="insurance_id" title="insurance_id">
    <o-table-cell-renderer-service attr="insurance_id" 
        service="HealthInsurance" entity="HealthInsuranceType" columns="id;id"
        parent-keys="id:insurance_id"
        value-column="id" keys="insurance_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>